.order-summary{
    display: flex;
}
h2{
    padding: 1%;
}
#div1{
    height: 500px;
    margin: 1%;
    padding: 2%;
    border: 1px solid rgb(223, 223, 223);
    flex: 1;
    table{
        width: 90%;
        text-align: center;
        thead{
            tr{
               th{
                    margin-top: 2%;
                    padding: 2%;
               }
            }
        }
        tbody{
            tr{
                td{
                    margin-top: 2%;
                    padding: 2%;
                }
            }
        }
        .btn{
            display: flex;
            justify-content: center;
            flex-direction: row;
            p{
                border: 1px solid black;
                width: 40px;
            }
            button{
                padding: 4px 10px;
                background-color: gray;
                border: 1px solid gray;
            }
        }
    }
}
.go-back{
    padding: 2%;
}
.add-more{
    padding: 8px 16px;
}
#div2{
    flex: 1;
    margin: 1%;
    border: 1px solid white;
    padding: 2%;
    background-color: rgb(213, 223, 226);
    table{
        width: 90%;
        tr{
            td{
                margin: 3%;
                padding: 3%;
            }
        }
    }
}
#place-order{
    align-content: center;
}
.order-btn{
    width: 250px;
    text-align: center;
    color: white;
    background-color: #1d7cbf;
    border: none;
    padding: 8px 18px;
}